html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.btn{
  border-radius: 2rem;
  width: 150px;
}

main .btn {
  width: 200px;
}

nav .navbar-brand {
  width: 100px;
  white-space: normal;
  font-family: Lobster, cursive;
  font-size: 1.8rem;
  text-align: center;
  transform: rotate(-10deg);
}

.navbar-collapse{
  display: none;
}

@media (min-width: 768px) {
  .navbar-collapse{
    display: block;
  }
}

.menu-control:checked + .sidebar {
  transform: translatex(0);
}

.sidebar {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  transform: translatex(100%);
  transition: transform 0.4s ease-in-out;
  overflow: scroll;
  z-index: 1;
}

@media (min-width: 768px) {
  .sidebar {
    width: 320px;
    border-left: 1px solid var(--bs-gray-300);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
}

.profile-picture{
  border-radius: 100px;
  border: 1px solid var(--bs-gray-600);
}

.active-profile-text{
  font-size: 12px;
}

.sidebar-menu a {
  display: block;
  width: 100%;
  color: var(--bs-body-color);
  text-decoration: none;
  padding: 12px;
  border-top: 1px solid var(--bs-gray-300);
  transition: all ease-in-out 200ms;
}
.sidebar-menu a:hover {
  background-color: var(--bs-gray-300);
}

.sidebar .btn-logout{
  margin: 0 auto;
}

.form-group label {
  font-size: 18px;
}

.form-control {
  border-radius: 24px;
  max-width: 360px;
  margin: 0 auto;
}