@page
@model Frontend.Pages.Create_Offer

@{
    ViewData["Title"] = "Create Offer";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    
</div>