@page
@model CreateUserModel

@{
    ViewData["Title"] = "Create New Account";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <form method="post">
        <div class="form-group pt-3">
            <label asp-for="User.Email">Email</label>
            <input asp-for="User.Email" class="form-control form-control-lg" placeholder="Price">
        </div>
        <div class="form-group pt-3">
            <label asp-for="User.FirstName">First name</label>
            <input asp-for="User.FirstName" class="form-control form-control-lg" placeholder="First name">
        </div>
        <div class="form-group pt-3">
            <label asp-for="User.LastName">Last name</label>
            <input asp-for="User.LastName" class="form-control form-control-lg" placeholder="Last name">
        </div>
        <div class="form-group pt-3">
            <label asp-for="User.PhoneNumber">Phone number</label>
            <input asp-for="User.PhoneNumber" class="form-control form-control-lg" placeholder="Phone number">
        </div>
        <div class="form-group pt-3">
            <label asp-for="User.IsServiceProvider">I will be working for others</label>
            <input asp-for="User.IsServiceProvider">
        </div>
        <button type="submit" class="btn btn-lg btn-success mt-5">Create Account</button>
    </form>
</div>