@page
@using ClassLibrary.Classes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    <form method="post">
        <div class="pt-5" style="font-family: Lobster, cursive; font-size: 1.8rem;">Looking for someone to</div>
        <div class="form-group pt-2">
            <select asp-for="CategoryId" asp-items="Model.Categories" class="text-center form-select form-select-lg">
                <option value="default">Select A Category</option>
            </select>
        </div>
        <div style="font-family: Lobster, cursive; font-size: 1.8rem;">We know a guy!</div>
        <br/>
        <button type="submit" class="btn btn-lg btn-success mt-5">Find a Guy!</button>
    </form>
</div>