@page
@model ListJobsModel

@{
    ViewData["Title"] = "Available Tasks";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    @{
        foreach (var job in Model.Jobs)
        {
            <li>
                <h4>@job.Id</h4>
                <p>Name: @job.Title</p>
                <p>Description: @job.Description</p>
            </li>
        }
    }
</div>