@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    @if (ViewData["LoginStatus"] != null)
        {
            <div class="alert alert-danger login-alert form-control" role="alert">
                @ViewData["LoginStatus"]
            </div>
        }
    <form method="post">
        <div class="form-group pt-3">
            <label asp-for="LoginRequest.Email">Email</label>
            <input asp-for="LoginRequest.Email" class="form-control form-control-lg" placeholder="Email">
        </div>
        <div class="form-group pt-3">
            <label asp-for="LoginRequest.Password">Password</label>
            <input type="password" asp-for="LoginRequest.Password" class="form-control form-control-lg" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-lg btn-success mt-5">Log in</button>
    </form>
</div>

