@page
@model Frontend.Pages.ServiceCheckModel
@{
    ViewData["Title"] = "Service Check";
}

<div class="align-left">
    <br/>
    <h3>Services:</h3>
    <br/>
    <ul>
        @{
            if(Model.ServiceStatus != null)
            {
                foreach (var status in Model.ServiceStatus)
                {
                    <li>
                        <h4>@status.Key.Name </h4>
                        <p>Status: @(status.Value ? "Found" : "Missing")</p>
                    </li>
                }
            }
        }
    </ul>
</div>
