@page
@model ViewUserModel

@{
    ViewData["Title"] = Model;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <ul id="myTab" role="tablist" class="nav nav-tabs rows-cols-3 user-tabs fs-5">
        <li role="presentation" class="nav-item mx-auto">
            <button id="jobs-tab" data-bs-toggle="tab" data-bs-target="#jobs" type="button" role="tab" aria-controls="jobs" aria-selected="false" class="nav-link">Jobs</button>
        </li>
        <li role="presentation" class="nav-item mx-auto">
            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
        </li>
        <li role="presentation" class="nav-item mx-auto">
            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
            <!-- IF ME -->
            
            <!-- ELSE -->
            
        </div>
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
            
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div></div>
        </div>
    </div>
</div>