<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - I Know A Guy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frontend.styles.css" asp-append-version="true" />
    <style>
    @@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">I Know A Guy!</a>
                <div class="navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Post">Create Task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Find">Find Work</a>
                        </li>
                    </ul>
                </div>
                @*If logged in show burger, else show buttons*@
                <div class="d-grid gap-2">
                    <a class="btn btn-success" href="/Login">Login</a>
                    <a class="btn btn-outline-secondary" href="/Create">Sign up</a>
                </div>
                <div class="d-grid gap-2">
                    <label aria-label="Toggle navigation" aria-controls="navbarSupportedContent" for="menu-control" class="navbar-toggler d-block">
                        <span class="navbar-toggler-icon"></span>
                    </label>
                    <input type="checkbox" id="menu-control" style="" class="menu-control d-none">
                    <aside class="sidebar" style="">
                        <div class="sidebar-menu">
                            <a href="">View Profile</a>
                            <a href="">View Inbox</a>
                            <a href="">My Contracts</a>
                            <a href="">My Tasks</a>
                            <a href="">Create Task</a>
                            <a href="">Find Work</a>
                        </div>
                    </aside>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - I Know A Guy - <a asp-area="" asp-page="/Index">Home</a> - <a asp-area="" asp-page="/About">About</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>  - <a asp-area="" asp-page="/Terms">Terms and Conditions</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>